a{
  text-decoration: none;
  color: gray;
}
a:hover{
  color: black;
}

.sidebar{
  width: calc(100% - 20px);
  margin-left: 10px;
  height: 150px;
}
.sideitem{
  height: 150px;
  width: 15%;
  display: inline-block;
  font-size: 2em;
  margin-left: 20px;
}
.sideitem p{
  text-align: center;
  margin-top: 20%;
}
.wrapper{
  height: auto;
  width: calc(100% - 20px);
  margin-left: 10px;
  
}
.info{
  height: 200px;
  width: calc(100% - 20px);
  margin-left: 10px;
}
.wrapperNav{
  width: 100%;
  height: auto;
  text-align: center;
}
.navigation{
  width: 20%;
  height: 500px;
  display: inline-block;
  margin-left: 1%;
}
.notSlider{
  z-index: 2;
  color: rgb(189, 60, 60);
}
